body {
    margin: 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #5f5f5f;
    /*background: rgb(255,249,185);
    background: radial-gradient(circle, rgba(255,249,185,1) 1%, rgba(232,124,107,1) 100%);*/
    background: rgb(219,240,136);
    background: radial-gradient(circle, rgba(219,240,136,1) 15%, rgba(52,201,183,1) 100%);
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    user-select: none;
}

h1 {
    margin: auto;
    margin-top: 12px;
}

img {
    pointer-events: none;
}

.bg {
    position:absolute;
    z-index:0;
    transform: rotate(20deg);
    max-height: 800px;
    min-height: 600px;
    min-width: 600px;
    align-content: center;
}

@-moz-document url-prefix() {
    .bg {
        visibility: hidden;
    }
}

.container {
    z-index: 9;
    height: 100vh;
    width: 100vw;
    min-height: 520px;
    min-width: 325px;
    max-height: 95vh;
    max-width: 60vh;
    margin: 0 auto;
    background-color: #d8d8d8;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: solid;
    border-color: rgba(0, 0, 0, 0.3);
}

.output {
    width: 100%;
    height: 38%;
    display: flex;
    flex-direction: column;
}

.result {
    font-size: 75px;
    margin: auto;
    margin-bottom: 15px;
    max-width: 95%;
    min-height: 92px;
    overflow: hidden;
    display: inline;
    white-space: nowrap;

}

.old {
    font-size: 35px;
    margin: auto;
    margin-bottom: 5px;
    color: gray;
    max-width: 95%;
    min-height: 43px;
    overflow: hidden;
    white-space: nowrap;

}

.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 62%;
    width:100%;
    background-color: #d8d8d8;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    user-select: none;
}

.row {
    display: flex;
    justify-content: center;
    height: 16.666666%;
}

.button {
    display: flex;
    width: 25%;
    min-height: 10px;
    min-width: 10px;
    background-color: #f8f3f3;
    margin: 1px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    transition: background-color .2s linear;
    background-color: rgba(255, 255, 255, 0.6);

}

.button:hover {
    background-color: rgba(0, 0, 0, 0.30);
}

.w {
    background-color: rgba(255, 255, 255, 0.9);
}

.g {
    background-color: rgba(0, 0, 0, 0.15);
}